.container-fluid {
  margin: 0px;
}

.btn {
  border: 1px solid #354E57;
}

.shipping_header {
  background-color: #A67744;
  padding: 6px;
  text-align: center;
  color: white;
}

.header_row1 {
  display: grid;
  text-transform: uppercase;
  background-color: #E2E6E9;
}

._texxt1 {
  font-size: 11px;
  letter-spacing: 0.6px;
  color: #354E57;
  margin-top: 50px;
  font-weight: bold;
  float: left;
  margin-right: 40px;
}

.texxt2 {
  font-size: 11px;
  letter-spacing: 0.6px;
  color: #354E57;
  margin-top: 50px;
  font-weight: bold;
}

.sooth {
  letter-spacing: 1.6px;
  text-align: center;
  padding-top: 30px;
}

._text3 {
  text-align: center;
  text-transform: lowercase;
}

.header_banner {
  font-size: 11px;
  letter-spacing: 0.6px;
  color: #354E57;
  margin-top: 50px;
  font-weight: bold;
}

.icon_1,
.fa-search {
  font-size: 11px;
  letter-spacing: 0.6px;
  color: #354E57;
  margin-top: 50px;
  font-weight: bold;
  margin-top: 50px;
}

.banner {
  font-size: 11px;
  letter-spacing: 0.6px;
  color: #354E57;
  margin-top: 50px;
  font-weight: bold;
}

.banner2 {
  font-size: 11px;
  letter-spacing: 0.6px;
  color: #354E57;
  margin-top: 50px;
  font-weight: bold;
}

.header2_banner {
  display: block;
  text-align: center;
  background-color: #E2E6E9;
}

.header2_banner h5 {
  display: inline-block;
  padding: 20px;
  font-size: 14px;
  color: #354E57;
}

.headline_content {
  display: block;
  color: #354E57;
  background-color: #E2E6E9;
}

.box_1 {
  padding-top: 80px;
}

.header_imges .Shop_less {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #C6B9B6;
  border: 0.5px solid #956A53;
  color: #354E57;
  margin-left: 110px;
  font-weight: bold;
  font-size: 12px;
}

.header_img .Shop_more {
  margin-top: 25px;
  margin-left: 110px;
  background-color: #547665;
  border: 0.5px solid white;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}

.headline_content .shop_product {
  margin-top: 25px;
  background-color: #E2E6E9;
  border: 0.5px solid #354E57;
  padding-left: 30px;
  padding-right: 30px;
}

.new {
  color: black;
  border: none;
  font-size: 11px;
  margin-left: 110px;
  text-decoration: none;
  background-color: #F7F7F7;
}

.headline {
  font-size: 48px;
  font-weight: bold;
}

.subheaderr {
  letter-spacing: 0.6px;
  line-height: 1.7;
  font-size: 12px;
}

.Border {
  border-top: 1px solid #547665;
  border-bottom: 1px solid #547665;
  border-right: 1px solid #547665;
  border-left: 1px solid #547665;
}

.sub_content {
  padding-top: 25px;
  background-color: #EEF3F4;
  color: #354E57;
  text-align: center;
  padding-bottom: 25px;
}
.sub_content .solutions {
  font-weight: bold;
  font-size: 23px;
}
.sub_content .explore {
  letter-spacing: 0.6px;
  font-size: 11px;
  padding-top: 2px;
}

.nav_title {
  display: flex;
  margin: auto;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  line-height: 60px;
}
.nav_title .title1 {
  font-size: 11px;
  font-weight: bold;
}
.nav_title .title2 {
  font-size: 11px;
  font-weight: bold;
}

.most-popular-products {
  background-color: #EEF2F4;
}

.bottom-most-popular-products {
  background-color: #F7F7F7;
}

.cards {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;
}
.cards div.first-image img {
  width: 76%;
}
.cards .img_box {
  background-color: white;
  width: 100%;
  padding: 40px 10px;
}
.cards .img_box img {
  width: 100%;
}
.cards .details {
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.details p:nth-child(1) {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0;
}

.details p:nth-child(3) {
  font-size: 14px;
}

.doller1 {
  text-decoration: line-through;
  display: inline;
}

.doller {
  display: inline;
}

.details button {
  border: 1px solid #354E57;
  width: 100%;
  background-color: #EEF2F4;
}
.details button .fa-cart-shopping {
  padding-right: 15px;
}

.header_img {
  background-color: #547665;
  margin: 0;
}
.header_img .half_img {
  padding-left: 0;
  margin: 0;
}
.header_img .img_fluid {
  width: 100%;
}

.half_header {
  background-color: #547665;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.half_header .clean {
  padding-left: 110px;
}
.half_header .loream {
  padding-left: 110px;
  padding-right: 110px;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.6px;
}

.header_imges {
  background-color: #C6B9B6;
}
.header_imges .half_headerr {
  background-color: #C6B9B6;
  color: white;
  display: flex;
  align-items: center;
}
.header_imges .half_headerr .clean {
  padding-left: 110px;
}
.header_imges .half_headerr .loream {
  padding-left: 110px;
  padding-right: 110px;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.6px;
  color: #354E57;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header_imges .img_fluid {
  width: 100%;
}

/* Footer */
.page-footer {
  background-color: #354E57;
}
.page-footer .container {
  padding: 10px;
}

.subscribe_btn {
  border: 1px solid whitesmoke;
  color: white;
  background-color: #354E57;
}

.input-group {
  padding-top: 30px;
  padding-right: 70px;
  padding-bottom: 90px;
}
.input-group .form-control {
  background-color: #354E57;
}

.footer_text {
  padding-top: 100px;
  color: white;
}
.footer_text .text2_footer {
  text-align: left;
  font-size: 14px;
  letter-spacing: 0.6px;
}

.footer_links {
  padding-top: 130px;
  color: white;
  padding-bottom: 0;
}
.footer_links .text-uppercase {
  font-size: 16px;
}
.footer_links li {
  font-size: 12px;
  letter-spacing: 0.6px;
  line-height: 1.7;
}

.end_footer {
  color: white;
  font-size: 15px;
}
.end_footer .anckor {
  color: white;
  padding-right: 60px;
  font-size: 12px;
}

.end_icons {
  padding-top: 40px;
  padding-left: 20px;
  font-size: 20px;
}
.end_icons .fa-brands {
  padding-right: 30px;
}
.end_icons .fa-youtube {
  padding-right: none;
}

.middle_content {
  color: #354E57;
  padding: 50px;
  background-color: #EEF2F4;
}
.middle_content .fa-solid {
  color: #C6B9B6;
  font-size: 24px;
}
.middle_content .para {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
.middle_content .ancor {
  font-size: 14px;
  color: #354E57;
}

.clr {
  color: white;
}

.ingredients {
  background-color: #F7F7F7;
  padding-left: 80px;
  text-align: center;
  padding-right: 70px;
  padding-bottom: 100px;
}
.ingredients .ingdnt_text1 {
  color: #354E57;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}
.ingredients .ingdnt_text2 {
  font-size: 12px;
  padding-top: 0;
}

.img_ingrediant {
  width: 50%;
}

.same_content {
  background-color: #F7F7F7;
  color: #354E57;
  padding-top: 80px;
}
.same_content .same_content1 {
  font-weight: bold;
}
.same_content .same_content2 {
  font-size: 14px;
}

.input-groupp {
  display: flex;
  width: 100%;
}
.input-groupp .form-controll {
  background-color: white;
  border: 1px solid #956A53;
  margin-right: -2px;
  width: 60%;
}
.input-groupp .subscribe_btnn {
  border: 1px solid #A67744;
  color: white;
  background-color: #A67744;
}

@media screen and (max-width: 768px) {
  .new {
    display: none;
  }

  .container-fluid .bottom-most-popular-products-mobile {
    display: none !important;
  }

  .align-item-center-in-mob {
    text-align: center;
  }

  .most-popular-products .details button {
    padding: 0;
  }

  .join-family-section-inner-div-1 {
    border-bottom: 1px solid;
  }

  .join-family-section-inner-div {
    padding: 20px;
  }

  .middle_content .middle_content-mobile {
    padding: 40px 100px;
  }

  .container-fluid .join-family-section {
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid;
  }

  .header_img .half_header {
    padding-left: 0px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .header_imges .half_headerr {
    padding-left: 0px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .nav_title {
    display: none;
  }

  .half_header .clean {
    padding-left: 20px;
  }
  .half_header .loream {
    padding-left: 20px;
    padding-right: 20px;
  }
  .half_header .Shop_more {
    margin-left: 20px;
  }

  .header_imges .half_headerr .clean {
    padding-left: 20px;
  }
  .header_imges .half_headerr .loream {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header_imges .half_headerr .Shop_less {
    margin-left: 20px;
  }

  .footer_text {
    order: 1;
  }

  .mobile-align-left {
    text-align: left;
  }

  .end_icons {
    padding: 20px !important;
  }

  .img_ingrediant {
    width: 100%;
  }

  .input-groupp .form-controll {
    width: 100%;
  }

  .bottom-most-popular-products {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .container-fluid .bottom-most-popular-products-mobile {
    display: flex !important;
  }
  .container-fluid .bottom-most-popular-products {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .container-fluid .bottom-most-popular-products-mobile {
    display: none;
  }
  .container-fluid .bottom-most-popular-products {
    display: flex;
  }

  .headline {
    padding-left: 110px;
    font-weight: bold;
  }

  ._texxt1 {
    margin-left: 70px;
  }

  .shop_product {
    margin-left: 110px;
  }

  .subheaderr {
    padding-left: 110px;
    font-size: 12px;
  }

  .container-fluid .row-padding {
    padding: 80px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .container-fluid .join-family-section {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .container-fluid .pr {
    padding-top: 0;
  }

  .end_footer {
    padding-left: 120px;
    padding-right: 120px;
  }

  .middle_content {
    padding: 60px;
    padding-left: 120px;
    padding-right: 120px;
  }

  .details button {
    padding: 5px 60px;
  }

  .end_icons {
    text-align: right;
  }
}
.sooth_fam {
  font-weight: bold;
  border-right: 1px solid whitesmoke;
}

.paragraph {
  font-size: 12px;
}

.join-family-section {
  padding: 10px;
}

html body {
  margin: var(--header-height) 0 0 0;
  font-family: sans-serif;
}

.header {
  background-color: #E2E6E9;
  display: none;
  align-items: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 0;
}
.header .fa-search-2 {
  margin-top: 0;
}

.header__button {
  width: var(--header-height);
  flex-shrink: 0;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.nav__links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100%;
  transform: translateX(-100%);
  background: transform 0.2s;
}

.nav--open .nav__links {
  transform: translateX(0);
  border: 0.5px solid black;
  background-color: #F7F7F7;
  color: #354E57;
}
.nav--open .nav__links .responsive_text h5 {
  font-size: 14px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 50px;
}

.nav__link {
  padding: 12px 10px;
}

.nav--open .nav__overlay {
  visibility: visible;
  opacity: 1;
}

.header_text h5 {
  padding: 20px;
  font-size: 14px;
}

.container-fluid .nav--open .nav__links {
  transform: translateX(100%);
}
.container-fluid .responsive_text_2 {
  margin-top: 150px;
}
.container-fluid .header {
  display: none;
}

.container-fluid .mobile-image-padding {
  padding: 0;
}

@media (max-width: 768px) {
  .container-fluid .header {
    display: flex;
  }
  .container-fluid .mobile-nav-align {
    align-items: center;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
  .container-fluid .mobile-nav-align .nav__link {
    color: #354E57;
    font-size: 22px;
    text-decoration: none;
  }
  .container-fluid .mobile-nav-align .fa-search {
    margin-top: 0;
  }
  .container-fluid .mobile-nav-align .banner1 {
    font-size: 12px;
    margin-top: 10px;
  }
  .container-fluid .header_banner {
    display: none;
  }
  .container-fluid .header2_banner {
    display: none;
  }
  .container-fluid .header_row1 {
    display: none;
  }
  .container-fluid .nav--open .nav__links {
    transform: translateX(0) !important;
    border: 0.5px solid black;
    background-color: #F7F7F7;
  }
  .container-fluid .header-text-font {
    font-weight: 500;
    font-size: 20px;
  }
  .container-fluid .mobile-order-change {
    order: 2;
    padding-bottom: 30px;
  }
  .container-fluid .mobile-order-change img {
    width: 100%;
  }
}
.doller-empty {
  margin-bottom: 0.8rem;
}

.add-to-card-btn:hover {
  background-color: white;
}

a {
  cursor: pointer;
}

.carousel .carousel-indicators [data-bs-target] {
  width: 100%;
  background-color: #D7CCDD;
}
.carousel .carousel-indicators {
  background-color: transparent;
  margin: 0;
  bottom: -40px;
}
.carousel .carousel-indicators .active {
  background-color: #547665;
}/*# sourceMappingURL=style.css.map */